  .card-elegant {
      background-color: #FAFAFA;
      border: 1px solid rgba(0, 0, 0, 0.05) !important;
      border: none;
      ;
  }

  .card-elegant .card-block {
      padding: 2rem 0 2.5rem 0;
      text-align: center;
  }

  .card-elegant .card-title {
      font-weight: normal;
      letter-spacing: .20rem;
      margin: 2.9rem 0;
      font-size: 1.2rem;
      /* color: #8B9185; */
      color: #000;
      opacity: .7;
  }

  .card-elegant .card-title small {
      color: #999;
      display: inline-block;
      font-size: .85rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
  }

  .card-elegant .card-text {
      border-bottom: .15rem solid #C7C7C5;
      /* color: #AAA7A0; */
      color: #000;
      opacity: .7;
      font-size: .8rem;
      padding-bottom: 2.5rem;
      margin: 0 auto 2.4rem;
      max-width: 9.375rem;
  }

  .card-elegant .btn-link {
      /* color: #8B9185; */
      color: #000;
      opacity: .7;
      font-size: .8rem;
      letter-spacing: .34rem;
      text-decoration: none;
      padding-bottom: 2rem;
  }

  .card-elegant .btn-link:hover, .card-elegant .btn-link:focus {
      color: #666;
  }