.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
}

.background {
    background-image: url('../../../../assets/images/balloons-login.jpg');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: .6;
}

.form-background {
    border-radius: 1em;
    padding: 3em 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .form-background {
        padding: 1em;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}